version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: my_postgres
    restart: always
    environment:
      POSTGRES_USER: viet
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: myappdb
      TZ: Asia/Ho_Chi_Minh 

    ports:
      - "5432:5432"
    volumes:
      - ./data/db:/var/lib/postgresql/data
